* {
    margin-bottom: 20px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    color: #006400;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #8FBC8F; 
    font-weight: bolder;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
}


p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.flex-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-width{
    width: 75%;
}

.border{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    height: 500px;
    width: 400px;
}

.text-width-larger{
    width: 85%;
}

#img3{
    width: 362px;
    height: 221px;
}

@media screen and (min-width: 768px){
    #farmer-width {
        width: 65%;
    }
    .flex-values {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

