
body {
    background-color: beige;
}

footer{
    margin-left: 30px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: #FFB2C9;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    gap: 40%;
    color: #343434;
}

footer > p{
    font-size: 18px;
}

.flex-values p {
    margin-top: 20px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-flex > p {
    font-size: 16px;
}

.underline {
    text-decoration: underline;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    color: #006400;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #8FBC8F; 
    font-weight: bolder;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
}


p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

header {
    background-color: #343434 !important;
}

.img-fluid {
    width: 200px; 
    height: auto;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}


.flex-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-width{
    width: 75%;
}

.border{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    height: 500px;
    width: 400px;
}

.text-width-larger{
    width: 85%;
}

#img3{
    width: 362px;
    height: 221px;
}

.container{
    margin-left: none !important;
    margin-right: none !important;
    width: 100% !important;
    background-color: #343434 !important;
}


.img-fluid {
    width: 200px;
    height: auto;
}

.nav-item {
    color: black !important;
}

.nav-link:hover, .nav-link:focus {
    color: pink !important;
}

#navbarNav {
    justify-content: flex-end;
}

a {
    color: #FFFFFF !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 900 !important;
    font-size: 24px !important;
}

.active {
    color: #FFB2C9 !important;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: #ffb2c9;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    width: 100%;

}
footer p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    margin: 0px !important;
}

@media screen and (min-width: 768px){
    #farmer-width {
        width: 65%;
    }
    .flex-values {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .footer-flex {
        flex-direction: row;
    }
    
}

