* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  display: grid !important;
  max-width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  grid-template-rows: auto 1fr 1fr !important;
  grid-template-columns: 2fr 1fr !important;
  grid-template-areas:
    "header header"
    "donate info"
    "footer footer";
}

header {
  background-color: #343434;
  grid-area: header;
}

.active {
  color: #ffb2c9 !important;
}

a {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

header img {
  width: 35%;
}

.info {
  grid-area: info;
  border-radius: 15px;
  background: #8fbc8f;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2%;
  padding: 2%;
}

.info img {
  width: 90%;
  border-radius: 15px;
  margin: 20px 0px 20px 0px;
}

.donate {
  grid-area: donate;
  margin: 1%;
}

form {
  border-radius: 15px;
  background: #343434;
  padding: 2%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  flex-basis: calc(33.33% - 2%);
  margin: 20px 0px 20px 0px;
}

form h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  border: 3px solid #006400;
  background: #8fbc8f;
  color: #fff;
  line-height: 60px;
}

label {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 10px;
  outline: 2px solid #343434;
  background: #8fbc8f;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  outline: 2px solid #006400;
}

button[type="submit"] {
  color: #fff;
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  background: #006400;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  border: 0px;
}

button[type="submit"]:hover {
  background-color: #8fbc8f;
}

footer {
  grid-area: footer;
  background-color: rgb(56, 84, 84);
}

#navbarNav {
  justify-content: flex-end;
}

main h1 {
  color: #006400;
  text-align: center;
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 800px) {
  .container {
    grid-template-rows: auto 1fr auto 1fr !important;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "header"
      "donate"
      "info"
      "footer";
  }
}
