body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    background-color: beige;
    margin: 0; /* Remove default margin */
}

.flex-values p {
    margin-top: 20px;
}


.underline {
    text-decoration: underline;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    color: #006400;
    margin-bottom: 10px;
}
.img-fluid {
    width: 200px;
    height: auto;
}

.flex-column {
    flex: 1; 
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #8FBC8F; 
    font-weight: bolder;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
}


p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.relative {
    position: relative;
}

.btn {
    background-color: #006400 !important; /* Green */
    border-radius: 10px !important; 
    color: white !important;
    outline-color: #006400 !important;
    border-color: #006400 !important;
    width: 500px !important;
}

.btn:hover, .btn:focus {
    background-color: #8FBC8F !important; /* Light Green */
    outline-color:#8FBC8F !important;
    border-color: #8FBC8F !important;
    color: #006400 !important;
}

.img-circle:hover{
        box-shadow: 5px 5px #8FBC8F, 6px 6px #8FBC8F, 7px 7px #8FBC8F;
        transform: translateY(-10px);
}

.img-circle:focus{
    box-shadow: 5px 5px #8FBC8F, 6px 6px #8FBC8F, 7px 7px #8FBC8F;
    transform: translateY(-10px);
}

.img-circle:active{
    box-shadow: 5px 5px #8FBC8F, 6px 6px #8FBC8F, 7px 7px #8FBC8F;
    transform: translateY(-10px);
}
header {
    background-color: #343434 !important;
}

#margin-top{
    margin-top: 20px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-images {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quote{
    width: 80%;
}

.farmer-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 300px;
}

.farmer-reviews{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.img-fluid {
    width: 200px;
    height: auto;
}

.nav-item {
    color: black !important;
}

.nav-link:hover, .nav-link:focus {
    color: pink !important;
}

#navbarNav {
    justify-content: flex-end;
}

a {
    color: #FFFFFF !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 900 !important;
    font-size: 24px !important;
}

.active {
    color: #FFB2C9 !important;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: #ffb2c9;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    width: 100%;

}

footer p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    margin: 0px !important;
}

.navbar-nav {
    padding-left: 15px !important;
}

@media screen and (min-width: 768px){
    #farmer-width {
        width: 65%;
    }
    .flex-images {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .farmer-review{
        flex-direction: column;
    }
    .farmer-reviews{
        flex-direction: row;
        margin-top: 30px;
    }
    .footer-flex {
        flex-direction: row;
    }
}

