* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Main-Layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: #343434;
  grid-area: header;
  padding: 1vw 1vw 1vw 1vw;
}

main {
  background-color: beige;
  padding: 1vw 1vw 1vw 1vw;
}

footer {
  padding: 1vw 1vw 1vw 1vw;
  background-color: paleturquoise;

  
}

h1{
  font-family: "Poppins", sans-serif;
}

h2{
  font-family: "Montserrat", sans-serif;
}
p{
  font-family: "Open Sans", sans-serif;
}