* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  display: grid;
  max-width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

.img-fluid {
  width: 200px;
  height: auto;
}

header {
  background-color: green;
  grid-area: header;
}

main {
  grid-area: main;
}

p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  margin: 0px !important;
}

header img {
  width: 35%;
}

#navbarNav {
  justify-content: flex-end;
}

a {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.active {
  color: #ffb2c9 !important;
}

main h1 {
  margin: 1%;
  color: #006400;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 3% 10%;
}
main img {
  width: 100%;
}

footer {
  display: flex;
  background-color: #ffb2c9;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  margin: 0px !important;
}

.navbar-nav {
  padding-left: 15px !important;
}
