h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: black;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 100;
}

.mini-box {
  text-align: center;
  background-color: #8fbc8f;
  border-radius: 15px;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  display: grid;
  max-width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

header {
  background-color: green;

  grid-area: header;
}

main {
  grid-area: main;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

header img {
  width: 35%;
}

#navbarNav {
  justify-content: flex-end;
}

a {
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: 24px !important;
}

.active {
  color: #ffb2c9 !important;
}

.btn {
  background-color: #006400 !important; /* Green */
  border-radius: 10px !important;
  color: white !important;
  outline-color: #006400 !important;
  border-color: #006400 !important;
  width: 500px !important;
}

.btn:hover,
.btn:focus {
  background-color: #8fbc8f !important; /* Light Green */
  outline-color: #8fbc8f !important;
  border-color: #8fbc8f !important;
  color: #006400 !important;
}
.nav-link:hover,
.nav-link:focus {
  color: pink !important;
}

.img-fluid {
  width: 200px;
  height: auto;
}

.navbar-nav {
  padding-left: 15px !important;
}

footer {
  display: flex;
  background-color: #ffb2c9;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  margin: 0px !important;
}
