@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&display=swap");

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: black;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}




div {
    text-align: center;
    background-color: #8FBC8F;
    border-radius: 15px;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}


button {
    background-color: #006400; /* Green */
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    width: 491px; /* adjust as necessary */
    height: 47px; /* adjust as necessary */
    flex-shrink: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    border: none;
    font-weight: 700;
}

button:hover{
    background-color: #8FBC8F; /* Light Green */
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    width: 491px; /* adjust as necessary */
    height: 47px; /* adjust as necessary */
    border: none;
    flex-shrink: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
